<div class="img">
    <app-nav-top></app-nav-top>
    <div class="about-section">
        <h1>Về chúng tôi</h1>
        <p>Chúng tôi là một nhóm những lập trình viên và đây là trang web của chúng tôi.</p>
        <!-- <p>Resize the browser window to see that this page is responsive by the way.</p> -->
    </div>
    <h2 style="text-align:center;color: white; ">Nhóm chúng tôi</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" alt="Jane"
                    style="width:100%">
                <div class="container">
                    <h2>Tuan Kiet</h2>
                    <p class="title">Coding</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>Kiet@example.com</p>
                    <p><button class="button">Liên hệ</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" alt="Mike"
                    style="width:100%">
                <div class="container">
                    <h2>Minh Long</h2>
                    <p class="title">Designing</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>Long@example.com</p>
                    <p><button class="button">Liên hệ</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" alt="John"
                    style="width:100%">
                <div class="container">
                    <h2>Duc Trong</h2>
                    <p class="title">Front-end</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>Trong@example.com</p>
                    <p><button class="button">Liên hệ</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" alt="John"
                    style="width:100%">
                <div class="container">
                    <h2>Huu Thang</h2>
                    <p class="title">Support Front-end</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>Thang@example.com</p>
                    <p><button class="button">Liên hệ</button></p>
                </div>
            </div>
        </div>
    </div>
    <app-about-usfooter></app-about-usfooter>
</div>