.div1 {
  margin-left: 37.5vw;
  position: absolute;
  margin-top: 8%;
}
// .div2 {
//   margin-left: 32.5vw;
//   position: absolute;
//   margin-top: 10%;
// }
// .div3 {
//   margin-left: 32.5vw;
//   position: absolute;
//   margin-top: 20%;
// }
