.div1 {
    margin-top: 40%;
  }
  .imgamu2{
    margin-left: -2vw;
    position: relative;
    bottom: 3vw;
  }
  .imgamu3{
    margin-left: 5vw;
    position: relative;
    bottom: 3vw;
  }
  .imgamu1{
    margin-left: 0vw;
    position: relative;
    top: -11vw;
  }