<app-nav-findroom></app-nav-findroom>
<div class="parent" style="background-color: #7B7F78; width: 100%; height: 35%;  " >
  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
      <p style="font-size: 1vw;
      color: rgb(250, 250, 250);
      margin-left: 5.5vw;
      position: absolute;
      margin-top: -6.5vw;
      font-family: Courier New;" >999</p>
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >Mức Cược | 20.000 $</h2></div>
  </div>

     <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>
</div>
<div class="parent" style="background-color: #7B7F78; width: 100%; height: 35%; " >
  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

     <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>
</div>
<div class="parent" style="background-color: #7B7F78; width: 100%; height: 35%; " >
  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

     <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>
</div>
<!-- <app-user></app-user> -->
