.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
}
.div1 {
  margin-top: 40%;
}
.imgamu2{
  margin-left: -2vw;
  position: relative;
  bottom: 3vw;
}
.imgamu3{
  margin-left: 5vw;
  position: relative;
  bottom: 3vw;
}
.imgamu1{
  margin-left: 0vw;
  position: relative;
  top: -11vw;
}
.fontid {
  font-size: 1vw;
  color: rgb(209, 223, 15);
  margin-left: 4.6vw;
  position: absolute;
  margin-top: -6.5vw;
}
