<!--

<div class="img1" >
<app-nav-findroom></app-nav-findroom>
  <div class="div1" >
    <div class="div2" >
      <p> ID Bàn</p>
      <p> Tên Bàn </p>
      <p> Mức Cược </p>
      <p> Số Người </p>
    </div>
    <div class="div2" >
      <p>: 1800</p>
      <p>: Tiến Lên Miền Nam</p>
      <p>: 2000 Coin</p>
      <p>: 3/4</p>
    </div>
    <div style="margin-left: 60%;" >
      <button class="button1" ><span class="material-icons">
        login
        </span></button>
    </div>
  </div>

  <div class="div1" >
    <div class="div2" >
      <p> ID Bàn</p>
      <p> Tên Bàn </p>
      <p> Mức Cược </p>
      <p> Số Người </p>
    </div>
    <div class="div2" >
      <p>: 1800</p>
      <p>: Tiến Lên Miền Nam</p>
      <p>: 2000 Coin</p>
      <p>: 3/4</p>
    </div>
    <div style="margin-left: 60%;" >
      <button class="button1" ></button>
    </div>
  </div>

  <div class="div1" >
    <div class="div2" >
      <p> ID Bàn</p>
      <p> Tên Bàn </p>
      <p> Mức Cược </p>
      <p> Số Người </p>
    </div>
    <div class="div2" >
      <p>: 1800</p>
      <p>: Tiến Lên Miền Nam</p>
      <p>: 2000 Coin</p>
      <p>: 3/4</p>
    </div>
    <div style="margin-left: 60%;" >
      <button class="button1" ></button>
    </div>
  </div>

  <div class="div1" >
    <div class="div2" >
      <p> ID Bàn</p>
      <p> Tên Bàn </p>
      <p> Mức Cược </p>
      <p> Số Người </p>
    </div>
    <div class="div2" >
      <p>: 1800</p>
      <p>: Tiến Lên Miền Nam</p>
      <p>: 2000 Coin</p>
      <p>: 3/4</p>
    </div>
    <div style="margin-left: 60%;" >
      <button class="button1" ></button>
    </div>
  </div>



<app-user></app-user> -->
<app-nav-findroom></app-nav-findroom>
<div class="parent" style="background-color: #7B7F78; width: 100%; height: 35%; " >
  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

     <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>
</div>
<div class="parent" style="background-color: #7B7F78; width: 100%; height: 35%; " >
  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

     <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>
</div>
<div class="parent" style="background-color: #7B7F78; width: 100%; height: 35%; " >
  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

     <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>

  <div>
    <div class="div1" >
      <img style="height: 10vw;" src="../../../assets/table1.png">
    </div>
    <div style="display: flex;" >
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu1.png"></div>
    <div class="imgamu2" ><img style="height: 3vw;" src="../../../assets/amu4.png"></div>
    <div class="imgamu3" ><img style="height: 3vw;" src="../../../assets/amu2.png"></div>
    <div class="imgamu1" ><img style="height: 3vw;" src="../../../assets/amu3.png"></div>
    </div>
    <div><h2 style="font-size: 1vw;color: black; margin-top: -3vw;text-align: center; " >20.000 $</h2></div>
  </div>
</div>
<!-- <app-user></app-user> -->
